body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td img {
    width: 100px;
    height: auto;
}

.btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.btn.menos {
    background-color: #f44336;
    color: #fff;
}

.btn.mais {
    background-color: #4CAF50;
    color: #fff;
}

.compra-container {
    text-align: center;
    margin-top: 20px;
}

.btn-compra {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-compra:hover {
    background-color: #0056b3;
}